*{
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  width: 400px;
  height: 535px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 245, 244);
  box-shadow: 2px 2px 5px gray;
  border-radius: 10px;
}

